.product{
    background-color: rgb(241, 243, 243);
    border: 1px solid rgb(231, 220, 220);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #0000007c;
    
}

.product img{
    margin-top: 50px;
}

.product p{
    padding: 10px;
    margin: 10px;
}

.service button{
    box-shadow: 1px 1px 10px 2px #0000007c;
}